<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BlogSphere</title> 
    <link rel="icon" href="/images/png/logo-grayscale-inverted.png">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100..900&family=Rokkitt:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    
</head>
<body>
    <div style="padding-top:20px ; display : flex; justify-content: center;height:20px; width: 100%;" > <img src="/images/png/logo-grayscale-inverted.png" alt="" style="margin:0; border: 2px solid black; height:50px; width: 50px;">

        <h2 style="margin:0  ; text-align: center; font-size: 30px;">&nbsp;&nbsp;BlogSphere</h2> 
    </div>
    
    <div class="main-content-form-delete">
       <div style="padding-top:25px;"> <h2 style="margin:0; margin-top: 20px; text-align: center;">Confirm Delete <%=user.username%> ?</h2></div>
        <div class="cards-form">
            <div class="card-form-delete"> 
                <div class="edit-logo" style ="display: flex ;justify-items: flex-start;">
                    <a href="/user"> <h2 style="justify-self:start; padding-left: 10px;"class="arrow"><i class="fa-solid fa-arrow-left"></i></h2></a>
                <h2 style="text-align: center; padding-left: 70px;" ><i class="fa-solid fa-id-badge"></i> &nbsp;Verification</h2>
                </div>
                <div class="form">
                <form action="/user/<%= user.username %>?_method=DELETE" method="post">
                   <h3 ><i class="fa-regular fa-user"></i>  USERNAME:</h3><input type="text" name="username" placeholder="Enter Corrrect username">
                   <h3 ><i class="fa-solid fa-key"></i>  Password:</h3> <input type="password" name="password" id="" placeholder="Enter Correct Password">
                    <div style="width:300px; display:flex; justify-content: center;"><button style= "text-align: center; margin-left:0px; margin-top:50px; font-size: 17px;" class="form-button">Delete This User</button></div>
                </form>
            </div>
            </div>
        </div>

    </div>
</body>
<script src="app.js"></script>
</html>


